/* Fonts! */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

@font-face {
    font-family: 'Ostrich Sans';
    font-style: oblique;
    font-weight: 400;
    src: url(../assets/font/Ostrich%20Black.ttf);
}

@font-face {
    font-family: 'Ostrich Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/font/Ostrich%20Regular.ttf);
}

/* Body */
body {
    background-image:url(../assets/BGTile.png);

    margin-top: 0px;
    margin-bottom: 0px;
}

body, html {
    height: 100%;
}

/* Generics */
a {
    text-decoration: none;
}

hr {
    width: 100%;
    opacity: 0.5;
}

.fade {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

/* Main Content Container */
div#mainContainer {
    width: 70%;
    min-height: 100%;
    background-color: rgba(255,255,255,0.2);

    margin-left: auto;
    margin-right: auto;

    min-width: 1000px;
}

/* Site Content (No header) Container */
div#content {
}

/* NavBar styles */
nav.mainNav {
    background-color: rgba(44,0,41,0.6);
    width: 100%;
    height: 65px;
}

nav.secondNav {
    background-color: rgba(44,0,41,0.4);
    width: 100%;
    height: 20px;
}

/* Logo on the NavBar */
img.headerLogo {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;

    width: auto;
    height: 75%;

    float: left;
}

/* Header Links */
a.headerLink {
    font-size: 40px;
    font-family: "Ostrich Sans";
    font-style: normal;

    color: #ffd490;
    height: 50px;

    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

a.headerAPI {
    font-size: 30px;
    font-family: "Ostrich Sans";
    font-style: normal;

    color: #ffd490;
    opacity: 0.4;

    float: right;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 35px;
}

a.headerAPI:hover {
    opacity: 0.7;
}

a.headerLink:hover {
    color: #feb33d;
    background-color: rgba(44,0,41,0.3);
}

a.headerLink.selected {
    color: #feb33d;
    background-color: rgba(44,0,41,0.8);
}

/* Second Header Links */
a.highlightedLink {
    font-size: 14px;
    font-family: "Open Sans";

    color: #feb33d;

    float: left;
    padding-left: 20px;
}

a.secondaryLink {
    font-size: 14px;
    font-family: "Open Sans";

    color: #FFF;
    opacity: 0.3;

    float: left;
    margin-left: 50px;
}

a.secondaryLink:hover {
    opacity: 0.75;
}

/* Main Page Posts */
div.post {
    width: 100%;
    background-color: rgba(44,0,41,0.15);

    margin-top: 10px;
}

div.postContent {
    padding: 15px 20px 10px;
}

h1.postTitle {
    color: #feb33d;
    text-transform:uppercase;
    font-family: "Ostrich Sans";
    font-style: oblique;

    font-size: 50px;
    margin: 0px 0px;

    text-shadow: 0px 2px rgba(0,0,0,0.4);
}

h2.postDate {
    color: rgba(255,255,255,0.3);
    text-transform:uppercase;
    font-family: "Ostrich Sans";
    font-style: oblique;

    font-size: 18px;
    margin: 0px;
    padding-bottom: 3px;
}

p.postBody {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    margin: 0px 0px;
    padding-bottom: 10px;
}

img.postHyp {
    opacity: 0.15;
}

img.postHyp:hover {
    opacity: 0.5;
}

span.postTags {
    color: rgba(255,255,255,0.15);
    float: right;

    text-transform:uppercase;
    font-family: "Ostrich Sans";
    font-style: oblique;

    padding-top: 3px;

    white-space:nowrap;
    overflow: hidden;
    max-width: 80%;
}

span.postTags a::before {
    content: '#';
}

span.postTags a {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;

    cursor: pointer;
}

span.postTags a:hover {
    color: rgba(255,255,255,0.5);
}

/* Buttons */
.btn {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-right: -4px;
    margin-bottom: 10px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #aaa;
}

.btn:hover {
    background-color: #d4d4d4;
}

.btn-first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Page Formatting */
div.pageContent {
    padding: 15px 20px 10px;
}

h1.pageTitle {
    color: #feb33d;
    text-transform:uppercase;
    font-family: "Ostrich Sans";
    font-style: oblique;

    font-size: 72px;
    margin: 0px 0px;

    text-shadow: 0px 2px rgba(0,0,0,0.4);
}

h1.pageSubtitle {
    color: #feb33d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;

    font-size: 21px;
    margin: 0px 0px;

    text-shadow: 0px 2px rgba(0,0,0,0.4);
}

.note {
    font-family: "Open Sans";
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: normal;
}

h2.heading {
    font-family: "Open Sans";
    color: #FFF;
    margin-bottom: 0px;
}

h3.subHeading {
    font-family: "Open Sans";
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-botton: 0px;
    margin-top: 0px;
}

/* Tables */
.basicTable {
    margin-top: 20px;
    width:100%;
    font-family: "Open Sans";
    font-size: 12px;
}

th, td {
    padding: 5px;
}

th {
    color:#fff;
    background-color: rgba(0,0,0,0.65);
}

td {
    color: #333;
    background-color: #fff;
    border-color: #aaa;
}

/* Inputs */
.largeInputText {
    width: 400px;
    height: 50px;
    font-size: 24px;
}

.largeInputTextWrap {
    width: 100%;
    height: 50px;
    font-size: 24px;
}

.largeInputTextField {
    width: 400px;
    height: 400px;
    font-size: 20px;
    font-family: 'open sans',arial,sans-serif;
}

.largeInputSubmit {
    width: 400px;
    height: 50px;
    font-size: 24px;
}

.largeInputSubmitWrap {
    width: 100%;
    height: 50px;
    font-size: 24px;
}