@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body {
    background-color: rgba(100, 0, 250, 0.2);

    margin: 0px;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
}

div.block {
    display: inline-block;
    float: none;
    width: 100%;
}

.fade {
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

nav.mainNav {
    background-color: rgba(74, 0, 71, 1);
    width: 100%;
    height: 65px;
}

.headerTitle {
    font-size: 25px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;

    color: #feb33d;
    height: 50px;

    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.headerLink, .headerLinkAction {
    font-size: 20px;
    font-family: "Open Sans";
    font-style: normal;

    color: #ffd490;
    height: 45px;

    float: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

.headerLinkAction {
    float: right;
    font-size: 15px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    height: 43px;
}

a.headerLink:hover, a.headerLinkAction:hover {
    color: #feb33d;
    background-color: rgba(44, 0, 41, 0.9);
}

div.mainContainer {
    width: 80%;
    min-height: 100%;
    margin: auto;
    padding: 5px 15px;
    min-width: 960px;
    background-color: rgba(44, 0, 41, 0.75);
}

.pageTitle {
    color: #feb33d;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-style: normal;

    font-size: 50px;
    margin: 0px 0px;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.sectionTitle {
    color: #feb33d;
    opacity: 0.8;

    font-family: FontAwesome;
    font-weight: normal;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.sectionTitle:hover {
    opacity: 1;
}

/* POWER */

p.powerLabel {
    font-weight: bold;
    font-size: 14px;

    margin: 4px 20px;
    padding: 8px 0px;
    color: #feb33d;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    float: left;
}

.powerLabel {
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

div.powerSection {
    width: 100%;

    display: inline-block;
}

div.powerLabel {
    float: right;
    margin-right: 40px;
    width: 80%;
}

div.powerLabel > p {
    max-width: 100%;
    float: left;
    height: 20px;
    background-color: rgba(150, 150, 255, 0.1);
    text-align: center;

    color: rgba(255, 255, 255, 0.5);
}

p.powerLabel.in {
    background-color: rgba(100, 255, 100, 0.25);
}

p.powerLabel.out {
    background-color: rgba(255, 100, 100, 0.25);
}

div.powerLabel > p:hover {
    color: rgba(255, 255, 255, 0.9);
}

/* IO */
.io {
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

a.io, p.io {
    float: left;
    padding: 18px 25px;
    text-align: center;
    margin: 0px 10px;
    border-radius: 10px;
    border: 2px rgba(255, 255, 255, 0.5) solid;
    background-color: rgba(255, 50, 50, 0.5);

    color: rgba(255, 255, 255, 0.4);
    font-family: 'open sans', arial, sans-serif;
}

a.io:hover {
    background-color: rgba(255, 70, 70, 0.9);
    color: rgba(255, 255, 255, 0.8);
}

p.io.enabled, a.io.enabled {
    background-color: rgba(50, 255, 70, 0.5);
}

a.io.enabled:hover {
    background-color: rgba(70, 255, 70, 0.9);
}

.pCircle {
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

div.pCircle {
    width: 80px;
    height: 80px;

    float: left;
    padding: 7px;

    font-family: FontAwesome;
    font-size: 12px;

    opacity: 0.7;
}

div.pCircle > svg {
    width: 100%;
    display: inline-block;
}

div.pCircle > svg > path {
    border: 20px white solid;
}

div.pCircle:hover {
    opacity: 1;
}

.progressbar-text {
    text-align: center;
}