*.iml
Toast.ipr
Toast.iws
.gradle/
out/
build/
patches/build/
*.psd
toast/crash/crash-2015-03-07_05-45-15.txt
toast/crash/
toast/log/recent.txt
toast/log/
toast/groovy/
toast/preferences/
run/
libs/groovy-2.4.1.jar
releases/
deploymentScripts/gradle/gradle/wrapper/gradle-wrapper.properties
patches_full/gradle/libs/GradleRIO.jar
tools/stats/
/bin/
.classpath
.settings/
.project
gradle/.launch
/.idea/
